@font-face {
  font-family: 'StateFaceRegular';
  src: url('../font/webfont/stateface-regular-webfont.eot');
  src: url('../font/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/webfont/stateface-regular-webfont.woff') format('woff'),
       url('../font/webfont/stateface-regular-webfont.ttf') format('truetype'),
       url('../font/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: "Helvetica Nueue", Helvetica, sans-serif;
  width: 600px;
  margin: 10px auto;
}

h1, h2, h3 {
  text-rendering: optimizeLegibility;
  margin-left: -5px;
}

h1 {
  font-weight: normal;
}

div {
  clear: both;
  width: 600px;
  margin-bottom: 30px;
}

a { color: black; }
a:hover { text-decoration: none; }

td#minimap {
  width: 15px;
}

tr:hover td {
  background-color:#900;
  color:white;
  cursor: pointer;
}

div#font-map {
  overflow: hidden;
  height: 1%;
}

table {
  font-size: 16px;
  width: 190px;
  float: left;
  margin-right: 10px;
  border-collapse:collapse;
}

table.css-table {
  width: 100%;
}

table.css-table th, table.css-table td {
  text-align: left;
}

table.css-table th {
  border-bottom: 1px silver solid;
}

table.StateFace td {
  border-bottom: 1px silver solid;
  padding: 5px;
}

#us {
  display: inline-block;
  width: 100px;
  font-family: 'StateFaceRegular';
  font-size: 80px;
  position: relative;
  top: 20px;
  margin: 0px;
}

#us #ak, #us #hi {
  position:absolute;
  margin: 0px;
}

#us #hi {
  font-size: 11px;
  left: 23px;
  bottom: 12px;
}

#us #ak {
  font-size: 16px;
  left: 1px;
  bottom: 11px;
}

.minimap {
  font-family: 'StateFaceRegular';
  text-align: center;
  vertical-align: top;
}
